@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Dela Gothic One", "Gasoek One", sans-serif;
  overflow-x: hidden;
}

.nav-buttons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  gap: 15px;
}

.nav-buttons button {
  font-family: "YOUR_ENGLISH_FONT_NAME", sans-serif;
  background: transparent;
  border: none;
  gap: 30px;
  cursor: pointer;
  font-size: 1rem;
  color: #ff1569;
  transition: color 0.3s;
}

.nav-buttons button:hover {
  color: #ff87cb;
}

.landing {
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.page-1 {
  background-color: #fbfbf2;
  position: relative;
}

.page-2 {
  background-color: #28262c;
  position: relative;
}

.page-3 {
  background-color: #171614;
  position: relative;
}

.page-1-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  padding-top: 140px;
}

.page-1-grid-item {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow: visible;
  position: relative;
  width: 200px;
  height: 140px;
}

.page-1-grid-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.page-1-grid-item img:first-child {
  opacity: 1;
}

.page-1-grid-item:hover img:first-child {
  opacity: 0;
}

.page-1-grid-item:hover img:last-child {
  opacity: 1;
}

@media (max-width: 768px) {
  .page-1-grid-item img {
    width: 60px;
    height: 60px;
  }
  .page-1-grid-item {
    width: 120px;
    height: 100px;
  }
}

.dynamic-title {
  width: 100%;
  height: calc (100% - 300);
  position: absolute;
  font-size: clamp(120px, 8vw, 100px);
  color: #ff1569;
  text-align: center;
  pointer-events: none;
}

.letter {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

@media (max-width: 768px) {
  .dynamic-title {
    font-size: 16vw;
    white-space: nowrap;
  }
  .letter {
    min-width: 60px;
  }
}

.player-container {
  width: 400px;
  height: 80px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  align-items: center;
  padding: 0;
  cursor: grab;
  user-select: none;
  transition: width 0.3s ease, left 0.3s ease, bottom 0.3s ease;
  z-index: 220;
}

@media (max-width: 768px) {
  .player-container {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
  }
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: none;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
  width: calc(100% - 16px);
  margin-top: 0;
  padding: 8px;
}

.grid-item {
  all: unset;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.grid-item:active {
  transform: scale(0.98);
}

.grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
  will-change: transform;
}

.grid-item:hover > img {
  transform: scale(1.1);
}

.item-icons {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4px;
  padding: 8px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item-icon {
  background: #000000;
  border-radius: 8px;
}

.grid-item:hover .item-icons {
  opacity: 1;
}

@media (max-width: 768px) {
  .content-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    height: 80px;
  }

  .item-icons {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
}

.floating-buttons {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  z-index: 1000;
}

.floating-button {
  background: #000000;
  border-radius: 16%;
  padding: 8px;
  animation: floatAnim 2s ease-in-out infinite alternate;
  width: 40px;
  height: 40px;
}

.floating-button img {
  width: 100%;
  height: 100%;
}

@keyframes floatAnim {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(var(--float-distance, 5px));
  }
}

.floating-button:hover {
  animation: none !important;
}

@media (max-width: 768px) {
  .floating-buttons {
    bottom: 100px;
  }
  .floating-button {
    border-radius: 16%;
    padding: 4px;
  }
  .floating-button img {
    width: 100%;
    height: 100%;
  }
}

/* CUTE TOUCH */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.flying-leek {
  position: fixed;
  top: -200px;
  bottom: -200px;
  width: 160px;
  height: 160px;
  background-size: cover;
  animation: fly-leek 4s ease-in-out infinite;
  z-index: 300;
}

@keyframes fly-leek {
    from {
        top: -200px;
    }
    to {
        top: 100vh;
    }
}

.heart {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-image: url(
      'https://cdn.glitch.global/795a55c1-54a0-4877-b64d-5c6da7b4b0c7/heart.svg?v=1743703623784'
    );
    background-size: cover;
    opacity: 1;
    z-index: 1200;
    animation: heartFadeOut 2s forwards;
    pointer-events: none;
}

@keyframes heartFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#heartCounter {
    position: fixed;
    top: -16px;
    left: 0;
    font-size: 30px;
    display: flex;
    z-index: 999;
}

#heartIcon {
    width: 100px;
    height: 100px;
}

#heartCount {
    position: fixed;
    top: 12px;
    left: 80px;
    color: #FFFFFF;
    text-shadow: 
        2px 2px 0 black,
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black;
}

@media (max-width: 768px) {
  #heartCounter {
    top: 62px;
    font-size: 20px;
  }
  #heartIcon {
    width: 66px;
    height: 66px;
  }
  #heartCount {
    top: 80px;
    left: 56px;
  }
}

/* MAIN POPUP */
body.no-scroll {
  overflow: hidden;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 200;
  pointer-events: auto;
  overflow: auto;
}

.fade {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 200;
  pointer-events: auto;
  overflow: block;
}

.pattern {
  position: fixed;
  width: 100%;
  height: calc(100% + 200px);
  background: repeating-linear-gradient(
    116deg,
    transparent,
    transparent 4px,
    rgba(255, 255, 255, 0.1) 4px,
    rgba(255, 255, 255, 0.1) 8px
  );
  z-index: 201;
  pointer-events: none;
  overflow: block;
}

.popup-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  background: black;
  border-radius: 16px;
  padding: 16px;
  z-index: 202;
  margin-top: 40px;
  pointer-events: auto;
}

.popup-container.open {
  display: block;
}

.popup-container.open .fade {
  display: block;
}

.popup-title {
  font-size: 1.6rem;
  color: white;
}

.popup-text {
  font-family: sans-serif;
  font-size: 1.0rem;
  margin-top: 10px;
  color: white;
}

.popup-content iframe {
  width: 100%;
  height: auto;
  border: none;
  margin-top: 0;
}

@media (max-width: 768px) {
  .popup-content {
    width: 320px;
  }
}